html {
  font-size: 62, 5%; // 1rem = 10px
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  color: unset;
  text-decoration: none;
  background-color: transparent;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
// 1600px , 1300px
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 1340px;
  padding-left: 2rem;
  padding-right: 2rem;
}
// Top Header
.mr {
  margin-right: 10px;
  transition: 0.5s;
  display: inline-block;
}
.top-header {
  padding: 10px 0;
  color: #17391d;
  background: #f2f8ec;
}
.top-ding {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-socials {
    display: flex;
    justify-content: space-between;
  }
}
.header-info-phone {
  margin-right: 10px;
  padding-right: 15px;
  border-right: 1px solid #d8d8d8;
}
.wrap-main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  flex-wrap: wrap;
}
.wrap-main-menu {
  display: flex;
  align-items: center;
}
.main-menu {
  display: flex;
  justify-self: space-evenly;
}
.main-menu li {
  padding: 15px 20px;
  position: relative;
}
.btn-contact {
  display: inline-block;
  margin-left: 40px;
  padding: 12px 25px;
  background: #80bd27;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  max-width: 375px;
}
// --------
section {
  position: relative;
}
.header-cover {
  background: url(https://cayxanhdaingan.com/wp-content/uploads/2021/09/blog-bg-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 125px 0;
  margin-bottom: 80px;
  &-overlay {
    background-color: #17391d;
    opacity: 0.4;
  }
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.4;
}
.page-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  color: #fff;
}
// ---------------
.content {
  margin-bottom: 70px;
  &-text {
    font-style: italic;
    font-weight: 100;
    margin-bottom: 65px;
  }
  &-galeray {
    &-row {
      display: flex;
      gap: 0px 40px;
    }
  }
}
// =-----------
.why-us {
  background: #17391d;
  color: #fff;
  overflow: hidden;
}
.why-content {
  padding: 50px 50px 30px;
}
.img-baner {
  position: relative;
  width: 100%;
  height: 100%;
}
.img-baner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heg-item {
  display: block;
  width: 115px;
  height: 5px;
  background: #80bd27;
  margin-bottom: 30px;
}
.sub-title {
  font-size: 20px;
  color: #e2c998;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.heading-title {
  font-size: 32px;
  margin-bottom: 25px;
  font-weight: bold;
}
.p-title {
  margin-bottom: 30px;
  font-size: 19px;
  line-height: 30px;
}
.list-items li {
  margin-bottom: 30px;
}
.list-items li i {
  color: #80bd27;
}
// --------------
.title {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
}
.about {
  overflow: hidden;
}
.about .box {
  padding: 30px;
}
.about .content {
  font-size: 16px;
}
.countdown {
  margin-top: 60px;
}
p.number {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0;
}
.label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.f-contact {
  margin-bottom: 20px;
}
.form-control {
  border-radius: 20px;
  font-size: 16px;
  padding: 8px 20px;
}
.process {
  text-align: center;
  padding: 80px 0;
  background: #f4f5f0;
}
.process .subb-title {
  max-width: 635px;
  margin: auto;
}
.listt {
  margin-top: 70px;
}
.box-step {
  margin-bottom: 40px;
}
.box-icon {
  text-align: center;
  position: relative;
  display: block;
  width: 115px;
  margin: auto;
  height: 115px;
  background: #fff;
  padding-top: 25px;
  border-radius: 20px;
}
.box-icon span {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #80bd27;
  border-radius: 20px;
  color: #fff;
  padding-top: 6px;
  top: -10px;
}
.box-title {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}
// Footer
footer {
  color: #fff;
  padding-top: 70px;
  background: #0d3c00;
}
.mb {
  margin-bottom: 35px;
}
.wrap-footer {
  padding: 30px;
  text-align: center;
}
.text-cover {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.rou {
  display: flex;
  justify-content: center;
}
.rou li {
  padding: 7px 25px;
}
.social-2 {
  display: inline-block;
  margin-right: 20px;
}
.social-2 a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  color: #000;
  background: #fff;
  transition: 0.5s;
}
.copyright {
  padding: 28px 0;
  background: #0a3000;
}
